main {
  #breather {
    #userBreath {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(136, 198, 88, 0.41);
    }
    width: 300px;
    height: 300px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid rgba(86, 198, 189, 0.41);

  }
  position: relative;
  width: 100%;
  height: 100vh;
}

